<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <!-->Настройка аппендера для файла all<-->
        <RollingFile name="all"
                     fileName="logs/all.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
        </RollingFile>

        <!-->Настройка аппендера для файла error<-->
        <RollingFile name="errors"
                     fileName="logs/errors.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <root level="debug">
            <appender-ref ref="all" level="info"/>
            <appender-ref ref="errors" level="error"/>
        </root>
    </Loggers>
</Configuration>